{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="content-section text-center mt-5">
        <h2 class="fw-bold">Welcome to Hari Gaana</h2>
        <p>At Hari Gaana, we empower you with accurate, real-time valuations for your vehicle. Whether you're selling your car or looking to buy, our platform provides the latest market data to ensure you make informed decisions.</p>
    </div>
    <div class="content-section mt-5">
        <h4 class="fw-bold">Discover Your Car's Worth</h4>
        <p>Thinking about selling your car? With Hari Gaana, you can easily find out its current market value. Simply enter your car's make, model, and year to get an instant valuation. Our advanced algorithm analyzes recent sales data and market trends to give you the most accurate estimate.</p>
    </div>

    <div class="content-section mt-5">
        <h4 class="fw-bold">For Buyers</h4>
        <p>Planning to buy a car? Hari Gaana is your go-to resource for checking the current market values of specific models. Our platform helps you make well-informed decisions by providing comprehensive pricing data and trends.</p>
    </div>
    <br>
    <hr>
    <div class="row content-section text-center">
        <div class="col-12">
            <h2 class="fw-bold">Why Choose Hari Gaana?</h2>
            <br>
        </div>
        <div class="col-md-3 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-chart-line fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">Accurate Valuations</h5>
            <p>Our comprehensive database and advanced algorithms provide precise market values for a wide range of vehicles.</p>
        </div>
        <div class="col-md-3 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-user-friends fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">User-Friendly Interface</h5>
            <p>Enter your car's details and get a valuation in just a few clicks.</p>
        </div>
        <div class="col-md-3 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-sync-alt fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">Up-to-Date Data</h5>
            <p>We update our database daily to reflect the latest market trends and sales data.</p>
        </div>
        <div class="col-md-3 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-info-circle fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">Detailed Insights</h5>
            <p>Receive not just a single value but also the maximum and minimum price ranges your car can fetch in the current market.</p>
        </div>
    </div>
    <hr>

    <!-- How It Works Section -->
    <div class="row content-section text-center">
        <div class="col-12">
            <h2 class="fw-bold">How It Works</h2>
        </div>
        <br><br><br>
        <div class="col-md-4 col-6">
            <div class="feature-icon mb-3">
                <i class="fa-solid fa-car fa-xl"></i>
            </div>
            <h5 class="fw-bold">Enter Vehicle Details</h5>
            <p>Provide information about your car, including make, model, year, mileage, gear type, and fuel type.</p>
        </div>
        <div class="col-md-4 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-calculator fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">Get Instant Valuation</h5>
            <p>Our system processes the data and delivers an accurate valuation based on current market conditions.</p>
        </div>
        <div class="col-md-4 col-6">
            <div class="feature-icon mb-3">
                <i class="fas fa-handshake fa-xl icon-responsive"></i>
            </div>
            <h5 class="fw-bold">Make Informed Decisions</h5>
            <p>Use the valuation to set a competitive price if selling or to negotiate a fair deal if buying.</p>
            <br>
        </div>
        <br>
        <br>
        <a  href="{% url 'valuation' %}"> 
            <button type="button" class="btn btn-primary">Start Valuation</button>
        </a>
        
        <br>
    </div>

    <br>
</div>

{% endblock %}
